:root {
  --backbright: rgb(15, 242, 7);
  --backdark: black;
  --brighttxt: rgb(15, 242, 7);
  --lighttxt: white;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: var(--lighttxt);
  background-color: black;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  background-color: var(--backbright);
}

p {
  margin: 0;
}

/*Header */
.header h1 {
  display: inline-block;
  font-size: 40px;
  color: black;
  margin: 15px;
}

.header nav {
  padding-top: 20px;
  margin-right: 20px;
  float: right;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}

.header nav ul {
  list-style-type: none;
}

.header nav ul li {
  display: inline-block;
  margin-left: 25px;
}

main {
  display: block;
}


/*Hero Banner */
.hero-banner {
  height: 250px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/02-hero-bg.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background-color: var(--backbright);
}

.hero-banner h2 {
  color: black;
  margin: 15px;
}

/* Section Headers */
.sub-head {
  background-color: transparent;
  height: 100%;
  color: var(--brighttxt);
  /* margin: 20px; */
  text-align: right;
  padding-right: 20px;
  border-right: 5px solid var(--backbright);
  display: inline-block;
  grid-column: 1 / 2;
}

/* Main grid settings and layout*/
.page-section {
  display: grid;
  justify-content: centre;
}

.main-body {
  padding-left: 20px;
}

.page-section {
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: 1fr;
  margin-bottom: 25px;
}

/* Work Section */
#work {
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: 1fr;
  margin-bottom: 25px;
}

#nested-grid {
  grid-columns: 2 / 4;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 200px;
  gap: 20px;
}

#horiseon {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
  /* height: 100%;
  width: 100%; */
  background-image: url(../images/digital-marketing-meeting.jpg);
}

#pre-work {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  /* height: 100%;
  width: 100%; */
  background-image: url(../images/02-portfolio-2.jpg);
}

#css-tricks {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  background-image: url(../images/css-tricks-screenshot.png);
}

#mdn {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
  background-image: url(../images/mdn-screenshot.png);
}

#html {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
  background-image: url(../images/color-codes-screenshot.png);
}

.project {
  display: flex;
  flex-direction: row;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  border-radius: 8px;
  transition: all 0.5s ease-in-out;
}

.project:hover,
.project:hover .project {
  box-shadow: inset 0px 0px 8px rgba(15, 242, 7, 1), 0 0 15px rgba(15, 242, 7, 1);
}

.work-text {
  height: 75px;
  width: 150px;
  background-color: var(--backbright);
  color: black;
  text-align: center;
  opacity: 0.75;
}



/* Contact Section */
#contact .sub-head {
  grid-column: 1;
  grid-row: 1;
}

#contact nav {
  grid-column: 2;
  grid-row: 1;
  padding-left: 20px;
}

#contact nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}




@media screen and (max-width: 992px) {}


@media screen and (max-width: 768px) {}


@media screen and (max-width: 576px) {}